
				<main class="col-md-12">
					
  <h1>Welcome to the About page</h1>
  <p>Welcome to my About page. Here you will find some information about me and where I study.</p>
  <h2>About Me</h2>
  <p>My name is Pratik Gadani. I am a student at Seneca College, studying Business Information Technology with Student ID = 115220220.</p>
				</main>