				<main class="col-md-12">
					<!-- Start your code here -->

					<h1>Welcome to my website HTML Demo page</h1>
					<h2>Information:</h2>
					<p>
						Name: Pratik Gadani<br>
						Student ID: 115220220<br>
						Program: Business Information Technology
					</p>

					<h2>Tables</h2>
					<table class="table">
						<caption>Table 1</caption>
						<thead class="thead-light">
							<tr>
								<th colspan="3">Header 1</th>
								<th>Header 2</th>
							</tr>
						</thead>
						<tbody>
							<tr>
								<td rowspan="2">Row 1</td>
								<td>Row 2</td>
								<td>Row 3</td>
								<td rowspan="2">Row 4</td>
							</tr>
							<tr>
								<td colspan="2">Row 5</td>
								<td>Row 6</td>
							</tr>
							<tr>
								<td>Row 7</td>
								<td>Row 8</td>
								<td>Row 9</td>
								<td>Row 10</td>
							</tr>
						</tbody>
						<tfoot>
							<tr>
								<td>Footer 1</td>
								<td>Footer 2</td>
								<td>Footer 3</td>
								<td>Footer 4</td>
							</tr>
						</tfoot>
					</table>

					<table class="table">
						<caption>Table 2</caption>
						<thead class="thead-light">
							<tr>
								<th>Header 1</th>
								<th>Header 2</th>
								<th>Header 3</th>
							</tr>
						</thead>
						<tbody>
							<tr>
								<td>Resources</td>
								<td>Assignments</td>
								<td>HTML Pages</td>
							</tr>
							<tr>
								<td>Random Header</td>
								<td>Services</td>
								<td>Another Cell</td>
							</tr>
							<tr>
								<td>Cell Column 1</td>
								<td>Cell Column 2</td>
								<td>Cell Column 3</td>
							</tr>
						</tbody>
						<tfoot>
							<tr>
								<td colspan="3">Footer</td>
							</tr>
						</tfoot>
					</table>

					<p>This section contains two tables that demonstrate the use of various HTML table elements and properties.
						The tables also show how colspan and rowspan work.</p>

					<h2>Lists</h2>
					<ul>
						<li>List item 1</li>
						<li>List item 2</li>
						<li>
							List item 3
							<ul>
								<li>Nested item 1</li>
								<li>Nested item 2</li>
								<li>Nested item 3</li>
							</ul>
						</li>
						<li>List item 4</li>
						<li>List item 5</li>
					</ul>

					<p>This section contains a list with nested lists, demonstrating different types of lists in HTML.</p>

					<h2>Images</h2>
					<img src="https://upload.wikimedia.org/wikipedia/commons/6/69/Snowboarder_in_halfpipe.jpg" alt="Image 1">
					<img src="https://upload.wikimedia.org/wikipedia/commons/6/69/Snowboarder_in_halfpipe.jpg" alt="Image 2">
					<img src="https://upload.wikimedia.org/wikipedia/commons/6/69/Snowboarder_in_halfpipe.jpg" alt="Image 3">

					<p>This section displays three similar images.</p>

					<h2>Audio</h2>
					<audio controls>
						<source src="https://pat-crawford-sdds.netlify.app/shared/fall-2021/web700/A3/sample-audio.mp3" type="audio/mpeg">
						<source src="https://pat-crawford-sdds.netlify.app/shared/fall-2021/web700/A3/sample-audio.ogg " type="audio/ogg">
						Your browser does not support the audio element.
					</audio>

					<p>This section contains an audio player being played in an HTML5 browser.</p>

					<h2>Video</h2>
					<video controls>
						<source src="https://pat-crawford-sdds.netlify.app/shared/fall-2021/web700/A3/sample-video.mp4" type="video/mp4">
					  <source src="https://pat-crawford-sdds.netlify.app/shared/fall-2021/web700/A3/sample-video.ogg" type="video/ogg">
					  <source src="https://pat-crawford-sdds.netlify.app/shared/fall-2021/web700/A3/sample-video.webm" type="video/webm">
			
					</video>
					<p>This section contains video player being played in HTML5 browser.</p>
